*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #222831; */
}

/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

.sec1{
    /* height: 85vh; */
    background-color: #222831;
}

.header{
    /* position: sticky;
    top: 0px;
    border-bottom: 2px solid #29a19c; */
    background-color: #222831;
}

.topbar{
    justify-content: space-between;
    display: flex;
    padding: 35px 50px 35px 50px;
    align-items: center;
}
.navigation ul li{
    display: inline;
    margin: 22.5px;
    position: relative;
}
.navigation ul li a{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.navigation ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #29a19c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navigation ul li:hover::after{
    width: 100%;
}

h1.time{
    color: #fff;
    font-size: 139px;
    font-family: 'Grand Hotel', cursive;
   /* padding-bottom: 19px; */
   font-weight: 400;
    /* position: relative; */
}
.mainbanner{
    display: flex;
    justify-content:space-between;  
    padding-left: 30px;
    /* position: relative; */
}
.coffee1{
    /* position: absolute; */
    right: 0px;
    top: 22px;
    background: transparent;

}

.headline {
    /* position: absolute; */
    
    background-color: transparent;
}

.headline h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 33px;
    color: #fff;
}
.headline p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding: 25px 0px;
    color: #fff;
    width: 366px;
}

.ordernow{
    background-color: #29a19c;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 20px;
}
.bottompic{
    position: relative;
    bottom: 0px;
}

.bottompic img{
    width: 100%;
    position: absolute;
    bottom: -40px;
    /* height: 190px; */
    background-color: transparent;
}

.coffbean1 img{
    color: #51565e;
    background: transparent;
    /* position: absolute;
    left: 210px;
    width: 100%; */
    top: 37px; 

    width:800px;
}
/* SECTION 2 STARTS FROM HERE */
.sec2{
    height: 100vh;
    background-color: #29a19c;
    display: flex;
}

.blackc{
    color: rgb(255, 255, 255);
    font-size: 125px;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    margin: 90px;
}

.sec2 .firsthalf{
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sec2 .secondhalf{
    width: 50%;
    margin:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.paratext p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: justify;
    text-align-last: right;
    /* margin: auto; */
}

.imagemug img{
    padding: 40px 0px;
}

.bottombar2 img {
    height: 275px;
    position: absolute;
    width: 100%;
    right: 0px;
}
/* section3 starts from here */ 

.sec3{
    /* height: 100vh; */
     background-color: #222831;
     display: flex;
     flex-direction: column;
}



.firsthalf3{
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.secondhalf3{
    width: 50%;
    flex-direction: column;
}

.coffeemug3 img{
    padding: 0px 0px 0px 90px;
}

.paratext3 p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
